section {
    width: 400px;
    height: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  h1 {
    color: #333;
  }

  .country-info {
    display: flex;
    justify-content: space-between;
  }

  .country-info img {
    width: 200px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .flag-info {
    margin-top: 20px;
  }

  @media (max-width: 1000px) {
    section{
        width: 320px;
        height: 100%;
    }
    .country-info img {
        width: 100px;
    }
}

@media (max-width: 765px) {
    section{
        width: 300px;
    }
    .country-info img {
        width: 150px;
    }
}